{% extends "layout.html" %}

{% block title %}
suggestions
{% endblock %}

{% block main %}
    <h1></h1>
    <br>
    <div class="m-5"><!--table-responsive-->
        <table class="table-content"><!--table table-bordered table-dark table-responsive table-hover-->
            <thead>
                <th>Cutoff</th>
                <th>Institute Name</th>
                <th>Branch</th>
                <th>Exam</th>
                <th>More</th>
            </thead>
            {% for row in clg_list %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td><a href="http://www.google.com/search?q={{ row[3] }}" target="blank">link</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        let isInternalNavigation = false;
        // Detect navbar clicks and prevent alert
        document.querySelectorAll("a").forEach(link => {
            link.addEventListener("click", function () {
                if (link.hostname === window.location.hostname) {
                    isInternalNavigation = true;
                }
            });
        });
        
        window.addEventListener("beforeunload", function (event) {
            if (isInternalNavigation) {
                isInternalNavigation = false; // Reset flag
                return; // Don't show alert for internal navigation
            }
        
            // Show alert only for tab close
            event.preventDefault();
            event.returnValue = "Are you sure you want to leave this page?";
        });
        </script>
{% endblock %}